body, html{
    margin: 0;
    padding: 0;
    font-family: 'Hind';
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
h5{
    padding: 6px 10px 5px;
    color: #fff;
    border: 2px solid;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}
p{
    margin: 0;
    padding: 0;
}

/* Naeigation Bar */

.navbar{
    position: absolute;
    z-index: 9;
    width: 100%;
    margin: 0 auto;
    top: 15px;
    left: 0;
    right: 0;
}
@media(max-width: 569px){
    .navbar{
        padding: 0 15px;
    }
}
.navbar-brand{
    color: #ffff !important;
    font-size: 36px;
    font-weight: bold;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.nav-item{
    margin: 0 10px;
}
.navbar-toggler{
    background-color: #FFFF !important;
    padding: 6px 10px !important;
    font-size: 16px !important;
    border: none !important;
}

@media (max-width:1200px){
    .navbar-toggler-icon{
        color: black !important;
        font-size: 14px !important;
        font-weight: bold !important;
        padding-top: 3px !important; 

    }
}
.navbar-collapse{
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
@media(max-width: 992px){
    .navbar-collapse{
        background-color: #1A1D2D;
        padding: 10px;
        border-radius: 4px;
        border: 1px rgba(0, 0, 0, 0.09) solid;
        overflow-y: auto;
        max-height: calc(100vh - 70px);
        position: relative;
    }
}
.front-body{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.58)), url(../images/mainbanner.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    align-items: center;
    z-index: 0;
    display: grid;
}
@media (max-width: 600px){
    .front-body{
        min-height: 550px;
        }
}
@media (max-width: 569px){
    .front-body{
        min-height: 420px;
        }
}
.main-body{
    padding-top: 100px;
}
@media (max-width: 992px){
    .main-body{
        padding-top: 140px;
    }
}
.main-body img{
    border: 4px solid #fff;
    border-radius: 50%;
    height: 130px;
}
.banner-text{
    color: #fff;
    font-size: 56px;
    font-weight: 400;
    line-height: 65px;
}
@media(max-width:992px){
    .banner-text{
        font-size: 60px;
        line-height: 75px;
    }
}
@media(max-width:900px){
    .banner-text{
        font-size: 55px;
        line-height: 70px;
    }
}
@media(max-width:569px){
    .banner-text{
        font-size: 45px;
        line-height: 55px;
    }
}
@media(max-width:440px){
    .banner-text{
        font-size: 40px;
        line-height: 50px;
    }
}
.main-body p{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

/* Skill Section */

#skill{
    text-align: center;
    padding: 7% 10%;
}
.global-title{
    font-size: 40px;
    line-height: 42px;
    font-weight: 600;
    margin-bottom: 40px;
}
.skill-box{
    padding: 4.5%;
    text-align: center;
}
.skill-text{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.skill-icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #C6D9C7;
    padding: 1.7rem 1rem 1rem;
    margin: 0 auto 1rem;
}
.icon{
    color: #C6D9C7;
    font-size: 2.5rem;
}
.progress-bar-success{
    background-color: #ACB5B8;
    box-shadow: none;
}
.progress-bar-info{
    background-color: #78B3AE;
    box-shadow: none;
}
.progress-bar-warning{
    background-color: #8C9D82;
    box-shadow: none;

}

/* Education Section */

#education{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.58)), url(../images/mainslide3.jpg);
}
.education-side1{
    background-image: url(../images/mainslide1.jpg);
    
}
.education-title{
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    line-height: 42px;
}
.education-grid{
    padding: 0 20% 0 5%;
}
.education-top{
    border-bottom: solid 1px rgba(250, 250, 250, 0.32);
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.education-top h4{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}
.education-top p{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: normal;
    font-style: normal;
    opacity: 0.8;
}

/* Contact Section */

.contact-form input{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    padding: 15px;
    color: #090909;
    background: rgb(239, 239, 239);
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(246, 246, 246);
    border-image: initial;
}
.contact-form input:focus, .contact-form textarea:focus{
    outline: none;
    box-shadow: none;
    background: #fff;
    border: 1px solid #1A1D2D;
}
.contact-form textarea{
    font-size: 16px;
    color: #090909;
    width: 100%;
    background: rgb(239, 239, 239);
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(246, 246, 246);
    border-image: initial;
    padding: 15px;
}
.btn-primary{
    color: #ffff;
    background-color: rgb(54, 58, 82);
    border-color: rgb(54, 58, 82);
    font-family: 'Hind';
}
.btn-primary:hover{
    text-decoration: none;
    color: #fff;
    background-color: #1A1D2D;
    border-color: #1A1D2D;
}
.theme-btn{
    line-height: 52px;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0px 30px;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.3s ease-out;
}
.contact-address b{
    color: #090909;
    font-size: 20px;
    margin-bottom: 4px;
    display: block;
}
.contact-address a{
    font-size: 17px;
    color: #090909;
    margin: 0;
    padding: 0;
    font-weight: 600;
}